<!DOCTYPE html>
#*
The server renders this HTML page in an end-user's browser when
needed authentication credentials may be obtained via HTTP Basic
Authentication or an HTML form.

Velocity variables (identified by the $ character) are generated
at runtime by the server.

The following variables are available on this page, but not used by default:

$utils                 - The utility method to display JSON String arrays
$escape                - The utility class that can be used to escape String variables
$HttpServletResponse   - The details of HTTP response
$HttpServletRequest    - The details of HTTP request
$TrackingId            - The user's session tracking ID
$TransactionId         - The unique ID for the SSO or SLO transaction.
$PingFedBaseURL        - The URL containing full hostname and port on which the PingFederate deployment runs on
$CurrentPingFedBaseURL - The base URL used in the current request. This URL may differ from $PingFedBaseURL when using a virtual host name
$locale                - The user's country and language
$templateMessages      - The set of messages that is used to localize messages based on the user's locale

Change text or formatting as needed. Modifying Velocity statements
is not recommended as it may interfere with expected server behavior.

It is recommended to sanitize the values that are displayed using $escape.escape(), for example $escape.escape($client_id).

*#

<!-- template name: AbstractPasswordIdpAuthnAdapter.form.template.html -->

#set( $messageKeyPrefix = "AbstractPasswordIdpAuthnAdapter.form.template." )

<html lang="$locale.getLanguage()" dir="ltr">
<head>
    <title>$templateMessages.getMessage($messageKeyPrefix, "title")</title>
    <base href="$var11"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <meta http-equiv="x-ua-compatible" content="IE=edge" />
    <meta http-equiv="Content-Security-Policy" content="default-src 'self' 'nonce-$CSPNonce';" />
    <link rel="stylesheet" type="text/css" href="assets/css/main.css"/>
    <script src='assets/scripts/pf-general.js'></script>

</head>
<body>
<div class="ping-container ping-signin">
    <div class="ping-header">
        $templateMessages.getMessage($messageKeyPrefix, "title")
    </div>

    <!-- .ping-header -->
    <div class="ping-body-container">

        <div class="section-title">
            $templateMessages.getMessage($messageKeyPrefix, "headerMessage")
        </div>

        <div>
            <form method="POST" action="$var1" autocomplete="off">

                $var7
                <div class="ping-messages">
                    <div class="ping-error">
                        $templateMessages.getMessage($messageKeyPrefix, "loginFailureMessage")
                    </div>
                </div>
                $var8

                <div class="ping-input-label">
                    $templateMessages.getMessage($messageKeyPrefix, "usernameTitle")
                </div>
                <div class="ping-input-container">
                    <input type="text" size="36" name="$var2" value="$var3" autocorrect="off" autocapitalize="off"/><!--#* Username value is explicitly HTML encoded in AbstractPasswordIdpAuthnAdapter *#-->
                </div>

                <div class="ping-input-label">
                    $templateMessages.getMessage($messageKeyPrefix, "passwordTitle")
                </div>
                <div class="ping-input-container">
                    <input type="password" size="36" name="$var4"/>
                </div>

                <div class="ping-buttons">
                    <input type="hidden" name="$var5" value=""/>
                    <input type="hidden" name="$var6" value=""/>

                    <a id="signInButton" class="ping-button normal allow" title="$templateMessages.getMessage($messageKeyPrefix, "signInButtonTitle")">
                        $templateMessages.getMessage($messageKeyPrefix, "signInButtonTitle")
                    </a>
                    
                    <a id="cancelButton" class="ping-button blue deny" title="$templateMessages.getMessage($messageKeyPrefix, "cancelButtonTitle")">
                        $templateMessages.getMessage($messageKeyPrefix, "cancelButtonTitle")
                    </a>
                </div><!-- .ping-buttons -->

            </form>
        </div><!-- .ping-body -->
    </div><!-- .ping-body-container -->
    <div class="ping-footer-container">
        <div class="ping-footer">
            <div class="ping-credits"></div>
            <div class="ping-copyright">$templateMessages.getMessage("global.footerMessage")</div>
        </div> <!-- .ping-footer -->
    </div> <!-- .ping-footer-container -->
</div><!-- .ping-container -->

<script type="text/javascript" nonce="$CSPNonce">

    registerEventHandler('continueButton', 'click', postOk);
    registerEventHandler('resetButton', 'click', postCancel);

    function postOk() {
        document.forms[0]['$var5'].value = 'clicked';
        document.forms[0].submit();
    }

    function postCancel() {
        document.forms[0]['$var6'].value = 'clicked';
        document.forms[0].submit();
    }
</script>

</body>
</html>
