<!DOCTYPE html>
#*
The server renders this HTML page in an end-user's browser
to prompt for a new password during a reset.

Velocity variables (identified by the $ character) are generated
at runtime by the server.

The following variables are available on this page, but not used by default:

$utils                 - The utility method to display JSON String arrays
$escape                - The utility class that can be used to escape String variables
$HttpServletResponse   - The details of HTTP response
$HttpServletRequest    - The details of HTTP request
$TrackingId            - The user's session tracking ID
$TransactionId         - The unique ID for the SSO or SLO transaction.
$PingFedBaseURL        - The URL containing full hostname and port on which the PingFederate deployment runs on
$CurrentPingFedBaseURL - The base URL used in the current request. This URL may differ from $PingFedBaseURL when using a virtual host name
$locale                - The user's country and language
$templateMessages      - The set of messages that is used to localize messages based on the user's locale

$entityId              - The entity ID (connection ID) of the SP Connection used in this SSO transaction
$connectionName        - The name of the SP Connection used in this SSO transaction
$client_id             - The ID of the OAuth client used in this transaction
$spAdapterId           - The SP Adapter ID used in this transaction
$baseUrl               - The base URL of PingFederate instance
$adapterId             - The IdP Adapter ID used in this transaction
$oidcUiLocales         - The OIDC ui_locales
$extendedProperties    - The extended properties defined on either the connection or OAuth client
$userAttributes        - The user attributes retrieved from the Password Credential Validator used in this transaction

Change text or formatting as needed. Modifying Velocity statements
is not recommended as it may interfere with expected server behavior.

It is recommended to sanitize the values that are displayed using $escape.escape(), for example $escape.escape($client_id).

*#

<!-- template name: forgot-password-change.html -->

<html lang="$pluginLocale.getLanguage()" dir="ltr">
<head>
    <title>$pluginTemplateMessages.getMessage("forgot-password-change.resetTitle")</title>
    <base href="$CurrentPingFedBaseURL"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <meta http-equiv="Content-Security-Policy" content="default-src 'self' 'nonce-$CSPNonce';" />
    <link rel="stylesheet" type="text/css" href="assets/css/main.css"/>
    <script src='assets/scripts/pf-general.js'></script>
</head>

#set( $passwordPolicy = $templateMessages.getMessage("html.form.change.password.template.passwordPolicy") )

<body>

<div class="ping-container ping-signin">

    <div class="ping-header">
        $pluginTemplateMessages.getMessage("forgot-password-change.resetTitle")
    </div>
    <!-- .ping-header -->

    <div class="ping-body-container">

        <div class="ping-steps">
            <div class="step">
                <span class="complete">
                    <div class="icon-approve"></div>
                </span>
                <label>$pluginTemplateMessages.getMessage("forgot.step.oneText")</label>
            </div>
            <div class="step">
                <span class="complete">
                    <div class="icon-approve"></div>
                </span>
                <label>$pluginTemplateMessages.getMessage("forgot.step.twoText")</label>
            </div>
            <div class="step active">
                <span>$pluginTemplateMessages.getMessage("forgot.step.three")</span>
                <label>$pluginTemplateMessages.getMessage("forgot.step.threeReset")</label>
            </div>
        </div>
        <!-- .ping-steps -->

        <div>
            <form method="POST" action="" autocomplete="off">
                <input type="hidden" name="cSRFToken" value="$cSRFToken"/>

                <div class="ping-messages">
                    #if($errorMessageKey)
                    <div class="ping-error">$pluginTemplateMessages.getMessage($errorMessageKey)</div>
                    #end

                    #if($successMessageKey)
                    <div class="ping-success">$pluginTemplateMessages.getMessage($successMessageKey)</div>
                    #end

                    #if($pwdPolicyFailureList)
                    #foreach($failedPwdPolicy in $pwdPolicyFailureList)
                    <div id="failedPolicy" class="ping-error requirements">
                        <span class="icon-failure"></span>
                        $failedPwdPolicy
                    </div>
                    #end
                    #end

                    ## Uncomment below to display any additional server error:
                    #*
                    #if($serverError)
                    <div class="ping-error">$serverError</div>
                    #end
                    *#
                </div>

                ## Show password policy if it is defined
                #if($passwordPolicy && $passwordPolicy.trim() != "")
                <div class="ping-requirements">
                    <a id= "requirements-link">$templateMessages.getMessage("html.form.change.password.template.passwordRequirementsTitle")
                        <span id="down-arrow"></span>
                        <span id="up-arrow"></span>
                    </a><br>
                    <div class = "requirements" id="req-message">
                        $passwordPolicy
                    </div>
                </div>
                #elseif (($pwdPolicySuccessList && $pwdPolicySuccessList.size() > 0) ||
                ($pwdPolicyFailureList && $pwdPolicyFailureList.size() > 0))
                <div class="password-requirements">
                    <a id= "requirements-link">$templateMessages.getMessage("html.form.change.password.template.passwordRequirementsTitle")
                        <span id="down-arrow"></span>
                        <span id="up-arrow"></span>
                    </a>
                    <div class = "requirements-message" id="req-message">
                        #foreach($succeededPwdPolicy in $pwdPolicySuccessList)
                        $succeededPwdPolicy<br><br>
                        #end
                        #foreach($failedPwdPolicy in $pwdPolicyFailureList)
                        $failedPwdPolicy<br><br>
                        #end
                    </div>
                </div>
                #end

                <div class="ping-input-label">
                    $pluginTemplateMessages.getMessage("forgot-password-change.resetLabelNewPassword")
                </div>
                <div class="ping-input-container">
                    <input id="newPassword" class="new-password" type="password" size="36" name="$password1" value="" autocorrect="off" autocapitalize="off"/>
                    <a id="revealNew" class="password-show-button icon-view"></a>
                    <span class="not-complete">
                        <div class="icon-check"></div>
                    </span>
                </div>

                <div class="ping-input-label">
                    $pluginTemplateMessages.getMessage("forgot-password-change.resetLabelConfimPassword")
                </div>
                <div class="ping-input-container">
                    <input id="confirmPassword" class="verify-password" type="password" size="36" name="$password2" value="" autocorrect="off" autocapitalize="off"/>
                    <a id="revealConfirm" class="password-show-button icon-view"></a>
                    <span class="not-complete">
                        <div class="icon-check"></div>
                    </span>
                </div>

                <div class="ping-buttons">
                    <input type="hidden" name="$ok" value=""/>
                    <a id="resetButton" class="ping-button normal allow" title="$pluginTemplateMessages.getMessage("forgot-password-change.resetButton")">
                    $pluginTemplateMessages.getMessage("forgot-password-change.resetButton")
                    </a>
                </div>
                <!-- .ping-buttons -->

                <div class="ping-input-link ping-pass-change">
                    <input type="hidden" name="$cancel" value=""/>

                    <a id="cancelLink" title="$pluginTemplateMessages.getMessage("global.cancel")">
                    $pluginTemplateMessages.getMessage("global.cancel")
                    </a>

                </div>
                <!-- .ping-input-link -->

            </form>
        </div><!-- .ping-body -->
    </div>
    <!-- .ping-body-container -->

    <div class="ping-footer-container">
        <div class="ping-footer">
            <div class="ping-credits"></div>
            <div class="ping-copyright">$templateMessages.getMessage("global.footerMessage")</div>
        </div>
        <!-- .ping-footer -->
    </div>
    <!-- .ping-footer-container -->

</div>
<!-- .ping-container -->

<script type="text/javascript" nonce="$CSPNonce">

    window.onload = function() {
        setFocus('newPassword');

        #if($HttpServletRequest.getHeader('X-Ping-Client-Version'))
            toggleMobile(true);
        #else
            toggleMobile(false);
        #end


        toggleRequirementsDisplay(false);
    }

    registerEventHandler('resetButton', 'click', postOk);
    registerEventHandler('cancelLink', 'click', postCancel);
    handleReturnPress('newPassword', postOk);
    handleReturnPress('confirmPassword', postOk);
    registerEventHandler('requirements-link', 'click', function(){
        var requirements = document.getElementById("req-message");
        if (requirements.style.display == "inline-block"){
            toggleRequirementsDisplay(false);
        }
        else {
            toggleRequirementsDisplay(true);
        }
    });
    registerEventHandler('revealNew', 'click', function() {
        revealPassword('newPassword', 'revealNew');
    });
    registerEventHandler('revealConfirm', 'click', function() {
        revealPassword('confirmPassword', 'revealConfirm');
    });

    var formSubmitted = false;

    function postOk() {
        if (formSubmitted)
            return true;

        formSubmitted = true;

        document.forms[0]['$ok'].value = 'clicked';
        document.forms[0].submit();
    }

    function postCancel() {
        document.forms[0]['$cancel'].value = 'clicked';
        document.forms[0].submit();
    }

</script>

</body>
</html>
