<!DOCTYPE html>
#*
The server renders this HTML page in an end-user's browser when a
WS-Federation SSO request fails locally but no SSO error landing
page is specified.

Velocity variables (identified by the $ character) are generated
at runtime by the server.

The following variables are available on this page, but not used by default:

$utils                 - The utility method to display JSON String arrays
$escape                - The utility class that can be used to escape String variables
$HttpServletResponse   - The details of HTTP response
$HttpServletRequest    - The details of HTTP request
$TrackingId            - The user's session tracking ID
$TransactionId         - The unique ID for the SSO or SLO transaction.
$PingFedBaseURL        - The URL containing full hostname and port on which the PingFederate deployment runs on
$CurrentPingFedBaseURL - The base URL used in the current request. This URL may differ from $PingFedBaseURL when using a virtual host name
$locale                - The user's country and language
$templateMessages      - The set of messages that is used to localize messages based on the user's locale

$server                - The server name from the HTTP request
$error                 - The error code
$errorDetail           - The message containing details of the error
$exception_msg         - The exception message. This is only populated if no $errorDetail is available

Change text or formatting as needed. Modifying Velocity statements
is not recommended as it may interfere with expected server behavior.

It is recommended to sanitize the values that are displayed using $escape.escape(), for example $escape.escape($client_id).

*#

<!-- template name: sourceid-wsfed-idp-exception-template.html -->

#set( $messageKeyPrefix = "sourceid-wsfed-idp-exception-template." )

<html lang="$locale.getLanguage()" dir="ltr">
<head>
    <title>$templateMessages.getMessage($messageKeyPrefix, "title")</title>
    <meta name="robots" content="noindex, nofollow" />
    <base href="$CurrentPingFedBaseURL" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta http-equiv="x-ua-compatible" content="IE=edge" />
    <meta http-equiv="Content-Security-Policy" content="default-src 'self' 'nonce-$CSPNonce';" />
    <link rel="stylesheet" media="all" type="text/css" href="assets/css/main.css" />
</head>

<body>

    <div class="ping-container">
        
        <!-- 
        if there is a logo present in the 'company-logo' container,
        then 'has-logo' class should be added to 'ping-header' container.
        -->
        <div class="ping-header">
            <span class="company-logo"><!-- client company logo here --></span>
            $templateMessages.getMessage($messageKeyPrefix, "title")
        </div> <!-- .ping-header -->
        
        <div class="ping-body-container">

            <div class="section-title">
                $templateMessages.getMessage($messageKeyPrefix, "server"): <span>$escape.escape($server)</span>
            </div>
            <div class="ping-messages">
                <!-- <div class="ping-error">$escape.escape($error)</div> -->

                <!-- errorDetail is localized before this page is loaded -->
                <div class="ping-error">
                    $escape.escape($errorDetail)
                </div>
                <div class="ping-error">
                    $escape.escape($exception_msg)
                </div>
                <div class="wrap">
                    $templateMessages.getMessage($messageKeyPrefix, "info")
                </div>
            
                ## Uncomment below to display additional dynamic content to user:
                #*
                <div class="wrap">
                    $templateMessages.getMessage("global.trackingId"): <strong>$TrackingId</strong>
                </div>
                *#

            </div>
            
        </div> <!-- .ping-body-container -->

    </div> <!-- .ping-container -->
    
</body>
</html>
